<nav class="nav">
    <ul>
        <li><img width="80px" src="../../assets/logo.svg"/></li>
        <li [routerLinkActive]="['active']"><a routerLink="/calendar">Calendar</a></li>
        <li [routerLinkActive]="['active']"><a routerLink="/contact">Contact</a></li>
        <li [routerLinkActive]="['active']"><a routerLink="/news">News</a></li>
        <li [routerLinkActive]="['active']"><a routerLink="/ranking">Ranking</a></li>
        <li [routerLinkActive]="['active']"><a routerLink="/rules">Rules</a></li>
        <li [routerLinkActive]="['active']"><a routerLink="/videos">Videos</a></li>
    </ul>
</nav>