<!--<div class="row">    
    <div class="col-md-10">-->
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th colspan="2"></th>
                    <th style="text-align:left;">
                        Team
                    </th>
                    <th></th>
                    <th style="text-align:left;">
                        Team
                    </th>
                </tr>
            </thead>
            <tbody *ngFor="let match of matchService.groupedDate | keyvalue">
                <tr >
                    <td colspan="5" *ngIf="checkDateStr(match.key)"> {{match.key | date : 'dd/MM/yy'}}</td>
                </tr>
                <ng-container *ngFor="let matchValue of match.value">
                    <tr *ngIf="checkDate(matchValue.matchDate)">
                        <td style="text-align:right;vertical-align: middle;margin-right:5px">
                            {{matchValue.matchDate | date : 'HH:mm'}}
                        </td>
                        <td style="text-align:right;vertical-align: middle;margin-right:5px"><img style="width:50px;height:auto" [src]="matchValue.homeTeam.iconURL"/></td>
                        <td style="vertical-align: middle;text-align:left;margin-right:5px">{{ matchValue.homeTeam.name }}</td>
                        <td style="text-align:right;vertical-align: middle;margin-right:5px"><img style="width:50px;height:auto" [src]="matchValue.visitorTeam.iconURL"/></td>
                        <td style="vertical-align: middle;text-align:left;margin-right:5px">{{ matchValue.visitorTeam.name }}</td>
                        <!--<td>{{ matchValue.matchDate | date:'dd/MM/yy HH:mm' }}</td>-->
                    </tr>
                </ng-container>
            </tbody>
        </table>
    <!--</div>
</div>-->