<!--<nav class="nav">
    <ul>
        <li><img width="80px" src="../../assets/logo.svg"/></li>
        <li [routerLinkActive]="['active']"><a routerLink="/calendar">Calendar</a></li>
        <li [routerLinkActive]="['active']"><a routerLink="/contact">Contact</a></li>
        <li [routerLinkActive]="['active']"><a routerLink="/news">News</a></li>
        <li [routerLinkActive]="['active']"><a routerLink="/ranking">Ranking</a></li>
        <li [routerLinkActive]="['active']"><a routerLink="/rules">Rules</a></li>
        <li [routerLinkActive]="['active']"><a routerLink="/videos">Videos</a></li>
    </ul>
</nav>-->

<nav class="nav navbar navbar-dark bg-dark">
    <div class="container">
            <a><img width="80px" src="../../assets/logo.svg"/></a>
            <a [routerLinkActive]="['active']" routerLink="/calendar">Calendar</a>
            <a [routerLinkActive]="['active']" routerLink="/contact">Contact</a>
            <a [routerLinkActive]="['active']" routerLink="/news">News</a>
            <a [routerLinkActive]="['active']" routerLink="/ranking">Ranking</a>
            <a [routerLinkActive]="['active']" routerLink="/rules">Rules</a>
            <a [routerLinkActive]="['active']" routerLink="/videos">Videos</a>
            <!--<a [routerLinkActive]="['active']" routerLink="/players">Players</a>-->
            <a [routerLinkActive]="['active']" routerLink="/teams">Teams</a>
    </div>
  </nav>